.users {
  background: #fff;
  max-width: 1400px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0.5rem;
  padding: 24px;

  table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;

    th,
    td {
      border-bottom: 1px solid #9191911c;
      padding: 16px 0;
    }

    th {
      font-weight: 600;
      font-size: 14px;
    }

    td {
      font-size: 14px;
      color: #737373;
    }
  }

  button {
    background: transparent;
    padding: 0;
    border: 0;
    margin: 0 3px;
    cursor: pointer;

    img {
      max-width: 18px;
    }
  }

  &_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_cta {
    background: #737373 !important;
    color: #fff;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    overflow: hidden;
    border-radius: 5px;
    padding: 8px 16px !important;
    margin: 0 0 16px 0 !important;

    span {
      font-size: 14px;
    }
  }
}
