.detail {
  max-width: 1400px;
  margin: 0 auto;
  background: #fff;
  padding: 24px;
  border-radius: 8px;

  button {
    margin-bottom: 24px;
    background: transparent;
    border: 0;
    padding: 0;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    span {
      display: inline-flex;
    }

    img {
      transform: rotate(180deg);
      max-width: 20px;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 12px;
      span {
        font-size: 14px;
      }
    }
  }
}
