@font-face {
  font-family: publicSans;
  src: url(./assets/font/public-sans/PublicSans-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: publicSans;
  src: url(./assets/font/public-sans/PublicSans-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: publicSans;
  src: url(./assets/font/public-sans/PublicSans-Bold.ttf);
  font-weight: 700;
}

* {
  box-sizing: border-box;
  font-family: publicSans, sans-serif;
}

html,
body {
  font-weight: 400;
  background: #f5f5f5;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
